.intro {
	background-image: url("../img/header-image.jpg");
	background-repeat: no-repeat;
}

.header-border {
    padding: 0 5px;
    border-top: 5px solid #0F6ACE;
    height: 52px;
}

/* Fonts */ 

h1 {
	padding: 130px 0px 15px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 67px;
	text-align: center;
}

h2 {
	padding: 80px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 48px;
	color: #0F6ACE;
	text-align: center;
}


p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #798991;
	line-height: 22px;
}

/* links */

.white-link {
	padding: 0 5px;
}

.red-link {
	padding: 0 5px;
}

a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 18px;
	line-height: 22px;
}
/* unvisited link */
a:link {
	color: #FFFFFF;
}
/* visited link */
a:visited {
    color: #ea5e42;
}

/* mouse over link */
a:hover {
    color: #0F6ACE;
}

/* selected link */
a:active {
    color: #ea5e42;
}

/* nav */
.nav {
	display: block;
}

.cellcollective-logo {
	padding: 10px 0px;
}

.header-right {
	display: inline-block;
	float: right;
}

/* Search bar */
.search-bar {
	padding-bottom: 150px;
	margin: 0px auto;
	text-align: center;
}

.search {
	display: inline-block;
	margin: 0px auto;
}

.search-field {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #798991;
	line-height: 22px;
	background: rgba(255,255,255,0.83);
	border-radius: 100px;
	padding: 15px 0px;
	width: 540px;
	border: none;
}

input[type="search"] {
	color: #798991;
    margin-left: 10px;
}

.home-search-btn {
	background: #EA5E42;
	border: 3px solid #F1623C;
	border-radius: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	padding: 15px 0px;
	width: 220px;
}

::-webkit-input-placeholder {
   color: #798991;
   font-family: 'Open Sans', sans-serif;
   padding-left: 20px;
   text-overflow: ellipsis; 
}

:-moz-placeholder { /* Firefox 18- */
   color: #798991; 
   font-family: 'Open Sans', sans-serif; 
   padding-left: 20px;
   text-overflow: ellipsis; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #798991;  
   font-family: 'Open Sans', sans-serif;
   padding-left: 20px;
   text-overflow: ellipsis; 
}

:-ms-input-placeholder {  
   color: #798991;  
   font-family: 'Open Sans', sans-serif;
   padding-left: 20px;
   text-overflow: ellipsis; 
}

.home-search-btn:hover, .contact-btn:hover{
	background: transparent;
	border: 3px solid #C64930;
}

.container {
	margin: 0px auto;
    overflow: hidden;
    width: 960px;
    max-width: 100%;
}

/*NUMBERS */

.numbers {
	padding: 80px 0px;
	text-align: center;
	display: inline-block;
}

ul {
	list-style-type: none;
	display: inline-block;
}

.circle {
	border: 3px solid #3CA44C;
	padding-bottom: 20px;
}

.large-number {
	font-family: 'Open Sans', sans-serif;
	font-size: 64px;
	color: #0F6ACE;
	padding-bottom: 10px;
}

.small-number {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #798991;
	line-height: 22px;
}

/* How works */
.how-works {
	background-color: #F7F6F6;
}

.icon {
	padding-right: 20px;
}

.how-content {
	display: inline-block;
	width: 40%;
	padding-bottom: 80px;
	text-align: center;
	margin: 0px auto;
}

.how-header {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 32px;
	color: #0F6ACE;
	display: block;
	padding-bottom: 20px;

}

.how-body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #798991;
	line-height: 22px;
	display: inline-block;
}

/* Contact Us */

.contact-us {
	background-image: url("../img/contact-photo.jpg");
	background-repeat: no-repeat;
	padding-bottom: 300px;
}

.contact-us h2, p {
	color: #FFFFFF;
	text-align: left;
}

.contactus-content {
	max-width: 300px;
}

/* footer */

.footer {
	padding: 60px 0px 60px 0px;
	text-align: center;
	position: relative;
	margin: 0px auto;
}

.footer-header {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 32px;
	color: #0F6ACE;
	display: block;
	padding-bottom: 20px;
	margin: 0;
	border-collapse:collapse;
}


.footer-content {
	margin: 0px;
	text-align: center;
	padding: 18px;
	position: relative;
}

.terms {
	padding: 200px 0px 60px 0px;
	text-align: center;
	margin: 0 auto;
}

ul.footer-content li a {
	color: #798991;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 10px;
	display: block;
	column-width: 15em;
}

ul.footer-content a:hover {
	color: #0F6ACE;
}

ul.footer-content a {
	padding-bottom: 10px;
}

ul.footer-content {
	display: inline-block; 
	vertical-align: top;
}

.terms li {
	display: inline-block;
	padding: 0px 48px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #798991;
}

.terms a {
	color: #798991;
}

.terms a:hover {
	color: #0F6ACE;
}

/*Media queries */

/* Portrait and Landscape */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media (min-width: 320px) and (max-width: 480px) {
	.cellcollective-logo {
		text-align: center;
		float: none;
		margin: 0px auto;
		padding: 0px 10px;
	}

	h1 {
		padding: 20px 0px 10px 0px;
		font-size: 2.5em;
		line-height: 1.35em;
	}
	/*header */
	.search-field {
		max-width: 100%;
		width: 300px;
		margin: 0px auto;
	}

	.home-search-btn {
		margin: 15px 0px;
	}

	input[type="search"] {
	color: #798991;
    text-align: center;
	}

	/*nav */

	.header-right {
	display: block;
	float: none;
	text-align: center;
	}

	h2 {
		font-size: 2.3em;
		padding: 10px 0px;
	}

	.numbers {
		display: block;
		text-align: center;
	}

	ul {
		display: block;
		list-style-type: none;
		text-align: center;
	}

	.how-content {
		text-align: center;
		padding: 10px 0px;
		width: 90%;
		display: block;
	}
	.how-body {
		max-width: 90%;
		width: 375px;
	}

	.icon {
		padding: 10px 0px;
		max-width: 80%;
	}

	.contact-us {
		text-align: center;
		padding-bottom: 40px;
	}

	.contact-us h2, p {
		text-align: center;
	}

	.contactus-content {
		max-width: 100%;
		padding: 0px 10px;
	}

	/* footer */

	ul.footer-content {
    margin: 0px;
    text-align: center;
    position: relative;
    display: block;
}
	.terms {
		padding: 20px 0px;
	}

	.terms li {
		display: block;
		padding: 10px 0px;
	}
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media and (min-width: 320px) and (max-width: 568px) {
	
	.cellcollective-logo {
		text-align: center;
		float: none;
		margin: 0px auto;
		padding: 0px 30px;
	}

	h1 {
		padding: 20px 0px 10px 0px;
		font-size: 2.5em;
		line-height: 1.35em;
	}
	/*header */
	.search-field {
		max-width: 90%;
		width: 350px;
		margin: 0px auto;
	}

	.home-search-btn {
		margin: 15px 0px;
	}

	input[type="search"] {
	color: #798991;
    text-align: center;
	}

	/*nav */

	.header-right {
	display: block;
	float: none;
	text-align: center;
	}

	h2 {
		font-size: 2.3em;
		padding: 10px 0px;
	}

	ul {
		display: block;
	}

	.how-content {
		text-align: center;
		padding: 10px 0px;
		width: 90%;
		display: block;
	}
	.how-body {
		max-width: 90%;
		width: 375px;
	}

	.icon {
		padding: 10px 0px;
		max-width: 80%;
	}

	.contact-us {
		text-align: center;
		padding-bottom: 40px;
	}

	.contact-us h2, p {
		text-align: center;
	}

	.contactus-content {
		max-width: 100%;
		padding: 0px 10px;
	}

	/* footer */

	ul.footer-content {
    margin: 0px;
    text-align: center;
    position: relative;
    display: block;
}
	.terms {
		padding: 20px 0px;
	}

	.terms li {
		display: block;
		padding: 10px 0px;
	}

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media (min-width: 375px) and (max-width: 667px) { 

	.cellcollective-logo {
		text-align: center;
		float: none;
		margin: 0px auto;
		padding: 0px 30px;
	}

	h1 {
		padding: 20px 0px 10px 0px;
		font-size: 2.5em;
		line-height: 1.35em;
	}
	/*header */
	.search-field {
		max-width: 90%;
		width: 350px;
		margin: 0px auto;
	}

	.home-search-btn {
		margin: 15px 0px;
	}

	input[type="search"] {
	color: #798991;
    text-align: center;
	}

	/*nav */

	.header-right {
	display: block;
	float: none;
	text-align: center;
	}

	h2 {
		font-size: 2.3em;
		padding: 10px 0px;
	}

	ul {
		display: block;
	}

	.how-content {
		text-align: center;
		padding: 10px 0px;
		width: 90%;
		display: block;
	}
	.how-body {
		max-width: 90%;
		width: 375px;
	}

	.icon {
		padding: 10px 0px;
		max-width: 80%;
	}

	.contact-us {
		text-align: center;
		padding-bottom: 40px;
	}

	.contact-us h2, p {
		text-align: center;
	}

	.contactus-content {
		max-width: 100%;
		padding: 0px 10px;
	}

	/* footer */

	ul.footer-content {
    margin: 0px;
    text-align: center;
    position: relative;
    display: block;
	}

	.terms {
		padding: 20px 0px;
	}

	.terms li {
		display: block;
		padding: 10px 0px;
	}
}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media (min-width: 414px) and (max-device-width: 736px) { 

	.cellcollective-logo {
		text-align: center;
		float: none;
		margin: 0px auto;
		padding: 0px 30px;
	}

	h1 {
		padding: 20px 0px 10px 0px;
		font-size: 2.5em;
		line-height: 1.35em;
	}
	/*header */
	.search-field {
		max-width: 90%;
		width: 350px;
		margin: 0px auto;
	}

	.home-search-btn {
		margin: 15px 0px;
	}

	input[type="search"] {
	color: #798991;
    text-align: center;
	}

	/*nav */

	.header-right {
	display: block;
	float: none;
	text-align: center;
	}

	h2 {
		font-size: 2.3em;
		padding: 10px 0px;
	}

	ul {
		display: block;
	}

	.how-content {
		text-align: center;
		padding: 10px 0px;
		width: 90%;
		display: block;
	}
	.how-body {
		max-width: 90%;
		width: 375px;
	}

	.icon {
		padding: 10px 0px;
		max-width: 80%;
	}

	.contact-us {
		text-align: center;
		padding-bottom: 40px;
	}

	.contact-us h2, p {
		text-align: center;
	}

	.contactus-content {
		max-width: 100%;
		padding: 0px 10px;
	}

	/* footer */

	ul.footer-content {
    margin: 0px;
    text-align: center;
    position: relative;
    display: block;
	}

	.terms {
		padding: 20px 0px;
	}

	.terms li {
		display: block;
		padding: 10px 0px;
	}

}



