.intro {
	background-image: url("../img/header-illustration.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.header-color {
	background-color: #18677a;
	opacity: 0.9;
}

.header-border {
    padding: 0 5px;
    border-top: 5px solid #0F6ACE;
}


.cellcollective-logo {
	margin-top: -10px;
	width: 270px;
}

.header-right {
	display: inline-block;
	float: right;
}

.search-bar {
	text-align: center; 
	padding-bottom: 150px;
	margin: 0px auto;
}

.search {
	display: inline-block;
	margin: 0px auto;
}

.search-field {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #798991;
	line-height: 22px;
	background: rgba(255,255,255,0.83);
	border-radius: 100px;
	padding: 15px 0px;
	width: 540px;
	border: none;
}

input[type="search"] {
	color: #798991;
    padding-left: 15px;
}


.subhead-container {
	padding-bottom: 10rem;
	display: block;
	margin: 0px auto;
}


