/// Descriptive color variables ///

$white: #FFFFFF;
$red: #F1623C;
$blue: #0F6ACE;
$grey: #7C8595;
$light-grey: #798991;

/// Functional color variables ///
$color-prim: $white;
$color-sec: $blue;
$color-text: $grey;
$color-text-links: $light-grey;

